@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.btn {
    @apply py-[16px] px-[46px] inline-block rounded-[30px] font-bold uppercase text-[#333] transition-all hover:opacity-90;
    /* display: inline-block;
    padding: 0.5rem 1rem;
    color: #fff;
    background-color: #292929;
    border-radius: 24px; */
}


.btn-primary {
    @apply bg-primary text-secondary; 
}

.featured-products-slider .swiper-button-prev, .featured-products-slider .swiper-button-next {
    @apply bg-white drop-shadow-lg rounded-full p-8 text-secondary;

}

.featured-products-slider .swiper-button-prev::after,.featured-products-slider .swiper-button-next::after {
    @apply text-xl;
}

.featured-products-slider .swiper-pagination-bullet {
    @apply bg-transparent border-2 opacity-100 border-white w-6 h-6; 

}

.featured-products-slider .swiper-pagination-bullet-active {
    @apply bg-white;
}

.featured-product:hover .featured-product-price {
    @apply opacity-100;
}

.swiper-scrollbar {
    @apply bg-[#C9C9C9] absolute !-bottom-0 z-30;
}

.swiper-scrollbar-drag {
    @apply !bg-[#6E6E6E];
}

.product-slider .swiper-button-prev, .product-slider .swiper-button-next {
    @apply bg-white drop-shadow-lg rounded-full p-8 text-secondary;
}
.product-slider .swiper-button-prev::after, .product-slider .swiper-button-next::after {
    @apply text-2xl font-bold;
}

.section-title {
    @apply text-xl sm:text-[34px] md:text-5xl text-center font-bold mt-5 font-header;
}

.paragraph {
    @apply mt-4 hidden text-[18px] md:inline-block md:text-[24px];
}

.product-title {
    @apply text-[2.625rem] font-header font-bold;
}