@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.btn {
    @apply py-[0.5rem] px-[1rem] inline-block bg-[#292929] rounded-[20px] text-white;
    /* display: inline-block;
    padding: 0.5rem 1rem;
    color: #fff;
    background-color: #292929;
    border-radius: 24px; */
}

.swiper-button-prev,.swiper-button-next {
    @apply bg-transparent rounded-full border-2 border-secondary p-8 text-secondary;

}

.swiper-button-prev::after,.swiper-button-next::after {
    @apply text-xl;
}

.swiper-pagination-bullet {
    @apply bg-transparent border-2 opacity-100 border-white w-6 h-6; 

}

.swiper-pagination-bullet-active {
    @apply bg-white;
}