@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.btn {
    @apply py-[16px] px-[46px] inline-block bg-[#292929] rounded-[30px] font-bold uppercase text-white transition-all hover:opacity-90;
    /* display: inline-block;
    padding: 0.5rem 1rem;
    color: #fff;
    background-color: #292929;
    border-radius: 24px; */
}

.btn-primary {
    @apply bg-primary text-secondary; 
}

.featured-products-swiper .swiper-button-prev,.swiper-button-next {
    @apply bg-transparent rounded-full border-2 border-secondary p-8 text-secondary;

}

.featured-products-swiper .swiper-button-prev::after,.swiper-button-next::after {
    @apply text-xl;
}

.bamboo-products-swiper .swiper-pagination-bullet {
    @apply bg-transparent border-2 opacity-100 border-white w-6 h-6; 

}

.bamboo-products-swiper .swiper-pagination-bullet-active {
    @apply bg-white;
}

.featured-product:hover .featured-product-price {
    @apply opacity-100;
}

.swiper-scrollbar {
    @apply bg-[#C9C9C9] absolute !-bottom-0 z-30;
}

.swiper-scrollbar-drag {
    @apply !bg-[#6E6E6E];
}